{% extends 'base.html' %}

{% block title %}TODO{% endblock %}
{% block content %}

    <h2 align="center"> TO DO LIST </h2>

    <p align="center">
        <a href="{% url 'create_task' %}">
            <button class="button button-outline"> Add new task</button>
        </a></p>

    <table align="center" class="table table-hover" border="1">
        <tr>
            <th>Complete</th>
            <th>Content</th>
            <th>Priority</th>
            <th>Actions</th>
        </tr>
        {% for task in task %}
            <tr>
                {% if task.completed %}

                    <td align="center">
                        <a href="{% url 'mark_completed' task.id %}">
                            <button class="button button-outline" style="color: green">* Completed! *</button>
                        </a>
                    </td>

                {% else %}

                    <td align="center">
                        <a href="{% url 'mark_completed' task.id %}">
                            <button class="button button-clear" style="color: red">Not completed</button>
                        </a>
                    </td>

                {% endif %}

                <td>{{ task.content }}</td>
                <td>{{ task.priority }}</td>
                <td>
                    <a href="{% url 'edit_task' task.id %}">
                        <button class="button button-outline"> Edit</button>
                    </a>
                    <a href="{% url 'remove_task' task.id %}">
                        <button class="button button-outline"> Remove</button>
                    </a>
                    <a href="{% url 'task_up' task.id %}">
                        <button class="button button-outline"> Up</button>
                    </a>
                    <a href="{% url 'task_down' task.id %}">
                        <button class="button button-outline"> Down</button>
                    </a>
                </td>

            </tr>


        {% endfor %}
    </table>

{% endblock %}